{% extends '@Example/base.html.twig' %}

{% block title %}{{ book.title }}{% endblock %}

{% block body %}

    {{ breadcrumbAdd('Message', '/book') }}
    {{ breadcrumbAdd(book.title, '/book/view/' ~ book.id) }}
    {{ breadcrumbAdd('Update', '/book/update/' ~ book.id) }}

    <h3>
        {{ book.title }} Update
        {#<span class="label label-default">{{ book.category.title }}</span>#}
    </h3>

{% endblock %}