{% extends '@Example/base.html.twig' %}

{% block title %}{{ book.title }}{% endblock %}

{% block body %}

    {{ breadcrumbAdd('Message', '/book') }}
    {{ breadcrumbAdd(book.title, '/book/view/' ~ book.id) }}

    <div class="float-right">
        <a class="btn btn-primary" href="{{ path('web_example_book_update', {id: book.id}) }}">update</a>
        <a class="btn btn-danger" href="#deleteModal" data-toggle="modal">delete</a>
    </div>

    <h3>
        {{ book.title }}
    </h3>

    <div>
        {% for message in book.messages %}
            <div class="" role="alert">
                <img src="{{ message.message.author.logo }}&s=16"/>
                <b>{{ message.message.author.username }}</b>: {{ message.message.text }}
            </div>
        {% endfor %}
    </div>

    {% set footer %}
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <form id="delete_form" method="post" action="{{ path('web_example_book_delete', {id: book.id}) }}"></form>
        <button class="btn btn-danger" onclick="$('#delete_form').submit()">Delete</button>
    {% endset %}

    {{ modal('deleteModal', 'Delete item', 'A you sure delete item?', footer) }}

{% endblock %}